.container {
  height: 100%;
  :global {
    .footer {
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
      background-color: white;

      .fixed-navigation {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 4rem;
        border-top: 1px solid #dbdbdb;
      }

      a,
      a:visited {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}
